#banner {
  margin: 300px 0 160px;
  background: linear-gradient(
    107deg,
    #3760c3 1.26%,
    #1e3172 58.43%,
    #596dd0 91.96%
  );
  .contRow {
    max-width: 30%;
    margin: 0 auto;
    padding: 120px 0 66px;
    position: relative;
    .title {
      color: #fff;
      text-align: center;
      font-family: Bricolage Grotesque;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: 101%;
      margin-bottom: 70px;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      margin: 0 auto;
      padding: 12px 0;
      color: #fff;
      font-family: Istok Web;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: none;
      background: rgba(241, 89, 88, 1);
      border-radius: 24px;
    }
    .logo {
      width: 72px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: -70px;
      left: 40%;
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        border-radius: 90px 90px 0 0;
        width: 120px;
        height: 100px;
        background: linear-gradient(
          107deg,
          #3760c3 1.26%,
          #1e3172 58.43%,
          #596dd0 91.96%
        );
      }
      svg {
        margin-bottom: 5px;
      }
    }
  }
}
