#digitalWorld {
  background: #eaf0ff;
  padding: 83px 0 0;
  .cont {
    .contRow {
      .digitalWorldTop {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        .left {
          max-width: 45%;
          & > div:first-child {
            display: block;
          }
          & > div:nth-child(2) {
            display: none;
          }
          .title {
            max-width: 650px;
            color: #252525;
            font-family: Istok Web;
            font-size: 78px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            margin-bottom: 61px;
          }
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            padding: 11px 0;
            border: none;
            background: rgba(241, 89, 88, 1);
            border-radius: 24px;
            span {
              color: #fff;
              font-family: Istok Web;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        .right {
          .image {
            position: relative;
            img:nth-child(2) {
              position: absolute;
              top: -60px;
              right: 30px;
            }
            img:nth-child(3) {
              position: absolute;
              top: 15px;
              right: 90px;
              width: 80px;
              height: 35px;
              object-fit: cover;
            }
            img:nth-child(4) {
              position: absolute;
              top: 40%;
              right: -45px;
            }
            img:nth-child(5) {
              position: absolute;
              top: 25%;
              left: -100px;
            }
            img:nth-child(6) {
              position: absolute;
              bottom: -50px;
              left: -100px;
            }
            img:nth-child(7) {
              position: absolute;
              bottom: -100px;
              left: 100px;
            }
            .btnImage {
              div {
                position: absolute;
                color: #fff;
                text-align: center;
                font-family: Inter;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                padding: 10px 0;
                line-height: normal;
                background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.2) 0%,
                    rgba(0, 0, 0, 0.2) 100%
                  ),
                  linear-gradient(
                    180deg,
                    rgba(241, 89, 88, 0.63) 0%,
                    rgba(70, 99, 169, 0.63) 100%
                  );
                &:nth-child(1) {
                  width: 200px;
                  top: 20px;
                  left: 0px;
                  border-radius: 50px 50px 0 50px;
                }
                &:nth-child(2) {
                  width: 200px;
                  bottom: 100px;
                  left: -40px;
                  border-radius: 50px 50px 0 50px;
                }
                &:nth-child(3) {
                  width: 135px;
                  top: 70px;
                  right: -20px;
                  border-radius: 50px 50px 50px 0;
                }
                &:nth-child(4) {
                  width: 125px;
                  bottom: 140px;
                  right: -40px;
                  border-radius: 50px 50px 50px 0;
                }
              }
              div.active {
                animation: move 6s ease-in-out infinite alternate;
              }
            }
          }
        }
      }
      .digitalWorldBottom {
        width: 90%;
        margin: 29px auto 0;
        position: relative;
        z-index: 5;
        border-radius: 24px;
        .content {
          display: flex;
          justify-content: space-evenly;
          padding: 40px 0;
          background: rgba(68, 99, 171, 0.2);
          border-radius: 24px;
          .info {
            .title {
              color: #fff;
              font-family: Istok Web;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .userCount {
              color: #fff;
              font-family: Istok Web;
              font-size: 67px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
  }
  @keyframes move {
    0% {
      transform: translateY(10px);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
}

#digitalWorld.darkMode {
  .cont {
    .contRow {
      .digitalWorldTop {
        .left {
          .title {
            color: #fff;
          }
          button {
            background: linear-gradient(
              180deg,
              #f15958 0%,
              #4663a9 99.99%,
              rgba(9, 117, 20, 0) 100%
            );
          }
        }
      }
      .digitalWorldBottom {
        background: rgba(241, 89, 88, 1);
      }
    }
  }
}

@media (max-width: 992px) {
  #digitalWorld {
    .cont {
      .contRow {
        .digitalWorldTop {
          flex-direction: column;
          align-items: center;
          .right {
            .image {
              .ellipse {
                display: none;
              }
            }
          }
          .left {
            max-width: 100%;
            margin-bottom: 50px;
          }
        }
        .digitalWorldBottom {
          .content {
            flex-wrap: wrap;
            background: transparent;
            .info {
              width: 155px;
              background: rgba(68, 99, 171, 0.2);
              text-align: center;
              padding: 11px 0;
              margin-bottom: 11px;
              .userCount {
                font-size: 44px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #digitalWorld {
    .cont {
      .contRow {
        .digitalWorldTop {
          .right {
            margin-left: auto;
            .image {
              img:nth-child(1) {
                width: 190px;
              }
              img:nth-child(2) {
                width: 165px;
                top: -30px;
              }
              img:nth-child(3) {
                top: -17px;
                right: 25px;
              }
              .btnImage {
                div {
                  background: rgba(0, 50, 95, 0.88);
                  font-size: 12px;
                  &:nth-child(1) {
                    width: 83px;
                    top: 40px;
                    left: -70px;
                  }
                  &:nth-child(2) {
                    width: 83px;
                    bottom: 30px;
                    left: -60px;
                  }
                  &:nth-child(3) {
                    width: 60px;
                    top: 40px;
                    right: -10px;
                  }
                  &:nth-child(4) {
                    width: 60px;
                    bottom: 0px;
                    right: -10px;
                  }
                }
              }
            }
          }
          .left {
            margin-right: auto;
            & > div:first-child {
              display: none;
            }
            & > div:nth-child(2) {
              display: block;
            }
            .title {
              max-width: 64%;
              font-weight: 700;
              font-size: 30px;
              line-height: 120%;
              margin-bottom: 10px;
            }
            .btn {
              display: none;
            }
          }
        }
      }
    }
  }
}
