header {
  background: #eaf0ff ;
  padding: 33px 20px;
  transition: 0.5s ease-in-out;
  .contRow {
    display: flex;
    align-items: center;
    .logo {
      .logoDark {
        display: none;
      }
    }
    nav {
      margin: 15px 93px 0 auto;
      .menu {
        display: flex;
        column-gap: 40px;
        transition: 1s ease-in-out;
        li {
          a {
            position: relative;
            color: #252525;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: 500ms ease-in-out;
            &:hover {
              color: #516caf;
            }
            &::after {
              content: "";
              width: 0;
              height: 1px;
              position: absolute;
              left: 50%;
              transform: translate(-50%);
              bottom: -7px;
              background: #516caf;
              transition: 500ms ease-in-out;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
      .menu.slide {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
      }
    }
    .lang {
      display: flex;
      align-items: center;
      position: relative;
      a {
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-bottom: 2px solid rgba(37, 37, 37, 1);
      }
      .dropdownMenu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 33px;
        left: 0;
        transition: 0.3s ease-in-out;
        li {
          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
      svg {
        margin: 0 11px;
        transition: 0.2s ease-in;
      }
      svg.active {
        path {
          stroke: #fff;
        }
      }
    }
    .lang.active {
      .dropdownMenu {
        visibility: visible;
        opacity: 1;
      }
      svg {
        transform: rotate(180deg);
      }
    }
    .theme {
      margin-left: 25px;
      cursor: pointer;
      .light {
        display: none;
      }
    }
    .theme.darkMode {
      .light {
        display: block;
      }
      .dark {
        display: none;
      }
    }
  }
  .hamburger {
    position: absolute;
    top: 40px;
    right: 22px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    display: none;
    z-index: 6;
    div {
      pointer-events: none;
      height: 3px;
      width: 30px;
      background: rgba(0, 0, 0, 1);
      margin-top: 5px;
      transition: 1s ease;
    }
  }
}

header.active {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  filter: drop-shadow(0px 2px 10px rgba(139, 139, 139, 0.25));
}

@media (max-width: 1200px) {
  header {
    .contRow {
      nav {
        margin-right: 40px;
        .menu {
          margin-left: 20px;
          column-gap: 20px;
          li {
            a {
              font-size: 12px;
            }
          }
        }
      }
      .lang {
        a {
          font-size: 12px;
        }
      }
      .theme {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .contRow {
      .logo {
        margin-right: auto;
      }
      nav {
        margin: 0;
        .menu {
          background: rgb(99, 95, 95);
          flex-direction: column;
          position: absolute;
          top: 0;
          right: 0;
          width: 100vw;
          height: 100vh;
          z-index: 6;
          padding: 57px 0 0 30px;
          transform: translateX(-100%);
          visibility: hidden;
          opacity: 0;
          li {
            margin-bottom: 24px;
            a {
              color: #fff;
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-decoration-line: underline;
            }
          }
        }
      }
      .theme {
        position: relative;
        right: 120px;
      }
    }
    .hamburger {
      display: inline;
      .line1.toggle {
        transform: translateY(10px) rotateZ(45deg);
      }

      .line2.toggle {
        transform: translateX(-50px);
        opacity: 0;
      }

      .line3.toggle {
        transform: translateY(-6px) rotateZ(-45deg);
      }
    }
  }
}

@media (max-width: 420px) {
  header {
    .contRow {
      .logo {
        img {
          width: 100px;
        }
      }
    }
    .hamburger {
      top: 30px;
    }
  }
}
