#services {
  position: relative;
  top: -100px;
  .cont {
    .contRow {
      text-align: center;
      .title {
        color: #252525;
        text-align: center;
        font-family: Istok Web;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 50.4px */
      }
      .services {
        max-width: 46%;
        margin: 40px auto 0;
        button {
          border-radius: 24px;
          border: 1px solid #dbdada;
          padding: 12px 30px;
          background: none;
          cursor: pointer;
          margin: 0 12px 12px 0;
          transition: 0.5s ease-in-out;
          &:hover {
            border: 1px solid rgba(241, 89, 88, 1);
          }
        }
      }
    }
  }
}
