@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&family=DM+Sans:opsz@9..40&family=Inter:wght@400;500;600&family=Istok+Web:wght@400;700&family=Jost&family=Lato:wght@700&family=Roboto:wght@500&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  scroll-behavior: smooth;
}

.design {
  display: flex !important;
  flex-wrap: wrap !important;
}

.design div {
  width: 440px;
  display: flex;
  justify-content: center;
}

.menu-active {
  background-color: #f15958;
  color: #fff;
}

.scrolling-text {
  white-space: nowrap;
  animation: scrollText 15s linear infinite;
  color: #000;
  font-family: Bricolage Grotesque;
  font-size: 25.739px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.945%;
}

.scrolling-text-container {
  height: 70px;
  background: rgba(68, 99, 171, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3.2390730381px);
          backdrop-filter: blur(3.2390730381px);
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.drob {
  width: 13px;
  height: 27px;
  flex-shrink: 0;
  color: #000;
  font-family: Aclonica;
  font-size: 25.739px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.945%;
}

/* footer */
.card {
  position: relative;
}

/* section */
.cards-section {
  display: flex !important;
  flex-wrap: wrap !important;
}

.logo-special {
  position: absolute;
  left: -6px;
  top: 22px;
}

.content-special {
  position: absolute;
  color: #f4f4f4;
  font-family: Lato;
  font-size: 53.436px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  top: 27px;
}

/* section */
/* footer */
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marcode-description {
  color: #0e0b1e;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.description-information {
  display: flex;
  gap: 25px;
}

.description-information p a {
  text-decoration: underline !important;
}

.description-information p a {
  text-decoration-line: underline;
  color: #252525;
  font-family: Inter;
  font-size: 18px;
}

.content-footer {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 330px !important;
}

.information-contact {
  width: 165px !important;
}

.marcode-description {
  width: 300px !important;
}

.btn-contact {
  color: #fff;
  font-family: Istok Web;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #f15958;
  border: none;
}

.marCode {
  flex-wrap: wrap !important;
  width: 100% !important;
}

.button {
  align-items: center;
}

/* responsive */
@media (max-width: 768px) {
  .marCode {
    justify-content: center !important;
  }
}
.scrollUp {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 5;
  cursor: pointer;
}

.cont {
  width: 86%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .cont {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .cont {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .cont {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .cont {
    max-width: 400px;
  }
}
@media (max-width: 420px) {
  .cont {
    max-width: 350px;
  }
}
header {
  background: #eaf0ff;
  padding: 33px 20px;
  transition: 0.5s ease-in-out;
}
header .contRow {
  display: flex;
  align-items: center;
}
header .contRow .logo .logoDark {
  display: none;
}
header .contRow nav {
  margin: 15px 93px 0 auto;
}
header .contRow nav .menu {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  transition: 1s ease-in-out;
}
header .contRow nav .menu li a {
  position: relative;
  color: #252525;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 500ms ease-in-out;
}
header .contRow nav .menu li a:hover {
  color: #516caf;
}
header .contRow nav .menu li a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -7px;
  background: #516caf;
  transition: 500ms ease-in-out;
}
header .contRow nav .menu li a:hover::after {
  width: 100%;
}
header .contRow nav .menu.slide {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
header .contRow .lang {
  display: flex;
  align-items: center;
  position: relative;
}
header .contRow .lang a {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 2px solid rgb(37, 37, 37);
}
header .contRow .lang .dropdownMenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 33px;
  left: 0;
  transition: 0.3s ease-in-out;
}
header .contRow .lang .dropdownMenu li:first-child {
  margin-bottom: 12px;
}
header .contRow .lang svg {
  margin: 0 11px;
  transition: 0.2s ease-in;
}
header .contRow .lang.active .dropdownMenu {
  visibility: visible;
  opacity: 1;
}
header .contRow .lang.active svg {
  transform: rotate(180deg);
}
header .contRow .theme {
  margin-left: 25px;
  cursor: pointer;
}
header .contRow .theme .light {
  display: none;
}
header .hamburger {
  position: absolute;
  top: 40px;
  right: 22px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
  display: none;
  z-index: 6;
}
header .hamburger div {
  pointer-events: none;
  height: 3px;
  width: 30px;
  background: rgb(0, 0, 0);
  margin-top: 5px;
  transition: 1s ease;
}

header.darkMode .contRow .logo .logoDark {
  display: block;
}
header.darkMode .contRow .logo .logoLight {
  display: none;
}
header.darkMode .contRow .theme .light {
  display: block;
}
header.darkMode .contRow .theme .dark {
  display: none;
}
header.darkMode .contRow .lang a {
  color: #fff;
}
header.darkMode .contRow .lang svg path {
  stroke: #fff;
}
header.darkMode .contRow nav ul li a {
  color: #fff;
}

header.active {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  filter: drop-shadow(0px 2px 10px rgba(139, 139, 139, 0.25));
}

@media (max-width: 1200px) {
  header .contRow nav {
    margin-right: 40px;
  }
  header .contRow nav .menu {
    margin-left: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  header .contRow nav .menu li a {
    font-size: 12px;
  }
  header .contRow .lang a {
    font-size: 12px;
  }
  header .contRow .theme {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  header .contRow .logo {
    margin-right: auto;
  }
  header .contRow nav {
    margin: 0;
  }
  header .contRow nav .menu {
    background: rgb(99, 95, 95);
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    padding: 57px 0 0 30px;
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
  }
  header .contRow nav .menu li {
    margin-bottom: 24px;
  }
  header .contRow nav .menu li a {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
  header .contRow .theme {
    position: relative;
    right: 120px;
  }
  header .hamburger {
    display: inline;
  }
  header .hamburger .line1.toggle {
    transform: translateY(10px) rotateZ(45deg);
  }
  header .hamburger .line2.toggle {
    transform: translateX(-50px);
    opacity: 0;
  }
  header .hamburger .line3.toggle {
    transform: translateY(-6px) rotateZ(-45deg);
  }
}
@media (max-width: 420px) {
  header .contRow .logo img {
    width: 100px;
  }
  header .hamburger {
    top: 30px;
  }
}
#digitalWorld {
  background: #eaf0ff;
  padding: 83px 0 0;
}
#digitalWorld .cont .contRow .digitalWorldTop {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
#digitalWorld .cont .contRow .digitalWorldTop .left {
  max-width: 45%;
}
#digitalWorld .cont .contRow .digitalWorldTop .left > div:first-child {
  display: block;
}
#digitalWorld .cont .contRow .digitalWorldTop .left > div:nth-child(2) {
  display: none;
}
#digitalWorld .cont .contRow .digitalWorldTop .left .title {
  max-width: 650px;
  color: #252525;
  font-family: Istok Web;
  font-size: 78px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 61px;
}
#digitalWorld .cont .contRow .digitalWorldTop .left button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 11px 0;
  border: none;
  background: rgb(241, 89, 88);
  border-radius: 24px;
}
#digitalWorld .cont .contRow .digitalWorldTop .left button span {
  color: #fff;
  font-family: Istok Web;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image {
  position: relative;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image img:nth-child(2) {
  position: absolute;
  top: -60px;
  right: 30px;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image img:nth-child(3) {
  position: absolute;
  top: 15px;
  right: 90px;
  width: 80px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image img:nth-child(4) {
  position: absolute;
  top: 40%;
  right: -45px;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image img:nth-child(5) {
  position: absolute;
  top: 25%;
  left: -100px;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image img:nth-child(6) {
  position: absolute;
  bottom: -50px;
  left: -100px;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image img:nth-child(7) {
  position: absolute;
  bottom: -100px;
  left: 100px;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div {
  position: absolute;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 0;
  line-height: normal;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(241, 89, 88, 0.63) 0%, rgba(70, 99, 169, 0.63) 100%);
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div:nth-child(1) {
  width: 200px;
  top: 20px;
  left: 0px;
  border-radius: 50px 50px 0 50px;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div:nth-child(2) {
  width: 200px;
  bottom: 100px;
  left: -40px;
  border-radius: 50px 50px 0 50px;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div:nth-child(3) {
  width: 135px;
  top: 70px;
  right: -20px;
  border-radius: 50px 50px 50px 0;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div:nth-child(4) {
  width: 125px;
  bottom: 140px;
  right: -40px;
  border-radius: 50px 50px 50px 0;
}
#digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div.active {
  animation: move 6s ease-in-out infinite alternate;
}
#digitalWorld .cont .contRow .digitalWorldBottom {
  width: 90%;
  margin: 29px auto 0;
  position: relative;
  z-index: 5;
  border-radius: 24px;
}
#digitalWorld .cont .contRow .digitalWorldBottom .content {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  background: rgba(68, 99, 171, 0.2);
  border-radius: 24px;
}
#digitalWorld .cont .contRow .digitalWorldBottom .content .info .title {
  color: #fff;
  font-family: Istok Web;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#digitalWorld .cont .contRow .digitalWorldBottom .content .info .userCount {
  color: #fff;
  font-family: Istok Web;
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@keyframes move {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

#digitalWorld.darkMode .cont .contRow .digitalWorldTop .left .title {
  color: #fff;
}
#digitalWorld.darkMode .cont .contRow .digitalWorldTop .left button {
  background: linear-gradient(180deg, #f15958 0%, #4663a9 99.99%, rgba(9, 117, 20, 0) 100%);
}
#digitalWorld.darkMode .cont .contRow .digitalWorldBottom {
  background: rgb(241, 89, 88);
}

@media (max-width: 992px) {
  #digitalWorld .cont .contRow .digitalWorldTop {
    flex-direction: column;
    align-items: center;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .right .image .ellipse {
    display: none;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .left {
    max-width: 100%;
    margin-bottom: 50px;
  }
  #digitalWorld .cont .contRow .digitalWorldBottom .content {
    flex-wrap: wrap;
    background: transparent;
  }
  #digitalWorld .cont .contRow .digitalWorldBottom .content .info {
    width: 155px;
    background: rgba(68, 99, 171, 0.2);
    text-align: center;
    padding: 11px 0;
    margin-bottom: 11px;
  }
  #digitalWorld .cont .contRow .digitalWorldBottom .content .info .userCount {
    font-size: 44px;
  }
}
@media (max-width: 576px) {
  #digitalWorld .cont .contRow .digitalWorldTop .right {
    margin-left: auto;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .right .image img:nth-child(1) {
    width: 190px;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .right .image img:nth-child(2) {
    width: 165px;
    top: -30px;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .right .image img:nth-child(3) {
    top: -17px;
    right: 25px;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div {
    background: rgba(0, 50, 95, 0.88);
    font-size: 12px;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div:nth-child(1) {
    width: 83px;
    top: 40px;
    left: -70px;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div:nth-child(2) {
    width: 83px;
    bottom: 30px;
    left: -60px;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div:nth-child(3) {
    width: 60px;
    top: 40px;
    right: -10px;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .right .image .btnImage div:nth-child(4) {
    width: 60px;
    bottom: 0px;
    right: -10px;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .left {
    margin-right: auto;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .left > div:first-child {
    display: none;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .left > div:nth-child(2) {
    display: block;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .left .title {
    max-width: 64%;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  #digitalWorld .cont .contRow .digitalWorldTop .left .btn {
    display: none;
  }
}
#whoAreWe {
  position: relative;
  padding-top: 160px;
}
#whoAreWe .cont .contRow {
  width: 90%;
  margin: 0 auto;
  background: rgb(68, 99, 171);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 48px 0;
}
#whoAreWe .cont .contRow .left {
  max-width: 35%;
}
#whoAreWe .cont .contRow .left .title {
  color: #fff;
  font-family: Istok Web;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
#whoAreWe .cont .contRow .left p {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 57px;
}
#whoAreWe .cont .contRow .left button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 11px 0;
  color: #fff;
  font-family: Istok Web;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: rgb(241, 89, 88);
  border-radius: 24px;
}
#whoAreWe .cont .contRow .right {
  margin-top: 30px;
}
#whoAreWe .cont .contRow .right .bigCircle {
  width: 76px;
  height: 76px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#whoAreWe .cont .contRow .right .bigCircle .smallCircle {
  width: 24px;
  height: 24px;
  background: rgb(68, 99, 171);
  border-radius: 50%;
  position: relative;
}
#whoAreWe .cont .contRow .right .bigCircle .smallCircle .arrow {
  position: absolute;
  top: 13px;
  transform-origin: top;
}
#whoAreWe .cont .contRow .right .words a {
  color: #fff;
  font-family: Bricolage Grotesque;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
  transition: 0.5s ease-in-out;
}
#whoAreWe .cont .contRow .right .words .about {
  transform: translateX(-65px) rotate(-120deg);
}
#whoAreWe .cont .contRow .right .words .services {
  transform: translate(-40px, -160px) rotate(-40deg);
}
#whoAreWe .cont .contRow .right .words .portfolio {
  transform: translate(85px, -180px) rotate(25deg);
}
#whoAreWe .cont .contRow .right .words .ourTeam {
  transform: translate(140px, -40px) rotate(95deg);
}
#whoAreWe .cont .contRow .right .words .contact {
  transform: translate(70px, 56px) rotate(155deg);
}
#whoAreWe .cont .contRow .bigCircle:has(+ .words > .about:hover) .arrow {
  transform: rotate(60deg);
}
#whoAreWe .cont .contRow .bigCircle:has(+ .words > .services:hover) .arrow {
  transform: rotate(150deg);
}
#whoAreWe .cont .contRow .bigCircle:has(+ .words > .portfolio:hover) .arrow {
  transform: rotate(200deg);
}
#whoAreWe .cont .contRow .bigCircle:has(+ .words > .ourTeam:hover) .arrow {
  transform: rotate(-80deg);
}
#whoAreWe .cont .contRow .bigCircle:has(+ .words > .contact:hover) .arrow {
  transform: rotate(-20deg);
}
#whoAreWe .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: #eaf0ff;
  z-index: -1;
}

@media (max-width: 992px) {
  #whoAreWe .cont .contRow {
    flex-direction: column;
  }
  #whoAreWe .cont .contRow .left {
    max-width: 70%;
  }
  #whoAreWe .cont .contRow .right {
    padding: 120px 0 50px;
  }
}
@media (max-width: 768px) {
  #whoAreWe .cont .contRow {
    flex-direction: column;
  }
  #whoAreWe .cont .contRow .left {
    max-width: 100%;
  }
  #whoAreWe .cont .contRow .left .btn {
    display: none;
  }
  #whoAreWe .cont .contRow .left .title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  #whoAreWe .cont .contRow .left p {
    padding: 0 20px;
  }
  #whoAreWe .cont .contRow .right {
    padding: 50px 0;
  }
}
#services {
  padding-top: 140px;
}
#services .cont .contRow {
  text-align: center;
}
#services .cont .contRow .title {
  color: #252525;
  text-align: center;
  font-family: Istok Web;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
}
#services .cont .contRow .services {
  max-width: 46%;
  margin: 40px auto 0;
}
#services .cont .contRow .services button {
  border-radius: 24px;
  border: 1px solid #dbdada;
  padding: 12px 30px;
  background: none;
  cursor: pointer;
  margin: 0 12px 12px 0;
  transition: 0.5s ease-in-out;
}
#services .cont .contRow .services button:hover {
  border: 1px solid rgb(241, 89, 88);
}

#branding .cont .contRow {
  display: flex;
  justify-content: space-between;
}
#branding .cont .contRow .left {
  max-width: 45%;
}
#branding .cont .contRow .left .title {
  color: #252525;
  font-family: Istok Web;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
#branding .cont .contRow .left ul li {
  color: #252525;
  font-family: Istok Web;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  list-style: disc;
}
#branding .cont .contRow .right {
  max-width: 50%;
  position: relative;
}
#branding .cont .contRow .right .btns button {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  border-radius: 30px 30px 0px 30px;
  border: 1px solid #f15958;
  background: #fff;
  position: absolute;
}
#branding .cont .contRow .right .btns button svg {
  margin-right: 10px;
}
#branding .cont .contRow .right .btns button:nth-child(1) {
  top: 25px;
  left: -110px;
}
#branding .cont .contRow .right .btns button:nth-child(2) {
  left: -120px;
  bottom: 25px;
}
#branding .cont .contRow .right .btns button:nth-child(3) {
  border-radius: 30px 30px 30px 0px;
  right: -100px;
  bottom: 60px;
}

@media (max-width: 1270px) {
  #branding .cont .contRow .left ul li {
    margin-bottom: 30px;
    font-size: 20px;
  }
  #branding .cont .contRow .right img {
    width: 350px;
    height: 200px;
  }
  #branding .cont .contRow .right .btns button:nth-child(1) {
    top: 222px;
    left: 0;
  }
  #branding .cont .contRow .right .btns button:nth-child(2) {
    left: 0;
    bottom: 50px;
  }
  #branding .cont .contRow .right .btns button:nth-child(3) {
    right: 0;
    bottom: 135px;
  }
}
@media (max-width: 604px) {
  #branding .cont .contRow .left ul li {
    margin-bottom: 10px;
    line-height: normal;
    font-size: 14px;
  }
  #branding .cont .contRow .right img {
    width: 150px;
    height: 90px;
  }
  #branding .cont .contRow .right .btns button {
    padding: 4px 9px;
    font-size: 8px;
  }
  #branding .cont .contRow .right .btns button:nth-child(1) {
    top: 110px;
    left: 0;
  }
  #branding .cont .contRow .right .btns button:nth-child(2) {
    left: 0;
    bottom: 50px;
  }
  #branding .cont .contRow .right .btns button:nth-child(3) {
    right: 0;
    bottom: 120px;
  }
}
@media (max-width: 448px) {
  #branding .cont .contRow {
    flex-direction: column;
    align-items: center;
  }
  #branding .cont .contRow .left {
    max-width: 90%;
  }
  #branding .cont .contRow .right .btns button {
    padding: 4px 9px;
    font-size: 8px;
  }
  #branding .cont .contRow .right .btns button:nth-child(1) {
    top: 5px;
    left: -80px;
  }
  #branding .cont .contRow .right .btns button:nth-child(2) {
    left: -60px;
    bottom: 5px;
  }
  #branding .cont .contRow .right .btns button:nth-child(3) {
    right: -50px;
    bottom: 30px;
  }
}
#banner {
  margin-top: 300px;
  background: linear-gradient(107deg, #3760c3 1.26%, #1e3172 58.43%, #596dd0 91.96%);
}
#banner .contRow {
  max-width: 30%;
  margin: 0 auto;
  padding: 120px 0 66px;
  position: relative;
}
#banner .contRow .title {
  color: #fff;
  text-align: center;
  font-family: Bricolage Grotesque;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 101%;
  margin-bottom: 70px;
}
#banner .contRow button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  padding: 12px 0;
  color: #fff;
  font-family: Istok Web;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background: rgb(241, 89, 88);
  border-radius: 24px;
}
#banner .contRow .logo {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: 40%;
}
#banner .contRow .logo::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 90px 90px 0 0;
  width: 120px;
  height: 100px;
  background: linear-gradient(107deg, #3760c3 1.26%, #1e3172 58.43%, #596dd0 91.96%);
}
#banner .contRow .logo svg {
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  #banner .contRow .title {
    font-size: 30px;
  }
  #banner .contRow button {
    width: 230px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  #banner {
    display: none;
  }
}
.form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background: #fff;
  display: none;
}
.form .cont .contRow .close {
  position: absolute;
  top: 60px;
  right: 60px;
  cursor: pointer;
}
.form .cont .contRow img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.form .cont .contRow .frame,
.form .cont .contRow .working {
  display: none;
}
.form .cont .contRow .title,
.form .cont .contRow .thank {
  color: #00325f;
  font-family: Bricolage Grotesque;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin: 0 30px 80px 0;
}
.form .cont .contRow .thank {
  display: none;
}
.form .cont .contRow form {
  max-width: 400px;
  padding-left: 30px;
}
.form .cont .contRow form input,
.form .cont .contRow form .nice-select,
.form .cont .contRow form .list {
  width: 100%;
}
.form .cont .contRow form .nice-select {
  border: 2px solid #000;
  height: 50px;
  padding-top: 5px;
  margin-bottom: 55px;
}
.form .cont .contRow form input {
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 5px;
}
.form .cont .contRow form label,
.form .cont .contRow form p {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 5px 17px;
}
.form .cont .contRow form .sendForm {
  font-family: DM Sans;
  background: #368c0e;
  border-radius: 40px;
  padding: 15px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  width: 200px;
  margin: 100px auto;
  text-align: center;
}
.form .cont .contRow .fallingChar {
  display: inline-block;
  opacity: 0;
  transform: translateY(-300px);
  animation: fall 0.7s ease-in-out forwards;
  margin-right: 6px; /* Adjust the margin as needed for proper spacing */
}
@keyframes fall {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form.active .cont .contRow .title {
  display: none;
}
.form.active .cont .contRow .thank {
  display: block;
}
.form.active .cont .contRow form {
  display: none;
}

@media (max-width: 992px) {
  .form .cont .contRow .title {
    font-size: 30px;
  }
  .form .cont .contRow img {
    display: none;
  }
  .form .cont .contRow .frame {
    display: block;
  }
}
@media (max-width: 768px) {
  .scrollUp a svg {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 500px) {
  .form {
    background: #ffeaf0 !important;
  }
  .form .cont .contRow form {
    padding-left: 0;
  }
  .form .cont .contRow form input,
  .form .cont .contRow form .nice-select,
  .form .cont .contRow form .list {
    background: #ffeaf0;
  }
  .form .cont .contRow form button {
    width: 150px;
    font-size: 15px;
  }
  .form .cont .contRow form button svg {
    width: 22px;
    height: 22px;
  }
  .form.active .cont .contRow .frame,
  .form.active .cont .contRow .working {
    display: block;
  }
  .form.active .cont .contRow .working {
    margin-right: 30%;
  }
  .scrollUp {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */